<?xml version="1.0" encoding="UTF-8"?><suite name="RC36_Iteration1_TUI_Execution"><test name="PreJoin.xlsx"><parameter name="testsuite" value="Iteration7\PreJoin.xlsx"/><parameter name="testPriority" value="All"/><classes><class name="com.lifelens.automation.ExecuteTestsFromWorkbook"/></classes></test><test name="testdata.xlsx"><parameter name="testsuite" value="Iteration7\testdata.xlsx"/><parameter name="testPriority" value="All"/><classes><class name="com.lifelens.automation.ExecuteTestsFromWorkbook"/></classes></test></suite>